<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @reservation.user_id %>
</p>

<p>
  <b>Bookwork:</b>
  <%= @reservation.bookwork_id %>
</p>

<p>
  <b>Loan:</b>
  <%= @reservation.loan %>
</p>

<p>
  <b>Ok:</b>
  <%= @reservation.ok %>
</p>


<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
